# In this notebook, weather data will be collected from openweather API to be uploaded to MySQL

In [1]:
# Importing the necessary libraries

import pandas as pd
from bs4 import BeautifulSoup
import requests
import datetime as dt

In [2]:
# Assigning my API number to a variable an creating a list with the cities names

api_num = 'My_API_num'
cities_name = ['Madrid','Barcelona','Malaga','Berlin','Hamburg','London']

In [3]:
# This function will loop through the url API to gather some imformation regarding the climatological data from the 
# chosen cities. This data will be stored in a dictionary and then appended to a list.

def city_data(api_num, cities):
  weather_info = []
    
  for city in cities:
     url = f'http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_num}&units=metric'
     response = requests.get(url).json()
    
     weather_time = {}
     weather_time['forecast_time'] = dt.datetime.utcfromtimestamp(response['dt'] + response['timezone'])
     weather_time['temp'] = response['main']['temp']
     weather_time['feels_like'] = response['main']['feels_like']
     weather_time['wind_speed'] = response['wind']['speed']
     weather_time['country_code'] = response['sys']['country']
     weather_info.append(weather_time)
    
  weather_cities_df = pd.DataFrame(weather_info)
  return weather_cities_df

In [4]:
weather = city_data(api_num,cities_name)

In [5]:
value = [1,2,3,4,5,6]
weather.insert(0,'city_id',value)

In [6]:
weather

   city_id       forecast_time   temp  feels_like  wind_speed country_code
0        1 2022-10-16 16:38:23  24.40       23.89        3.60           ES
1        2 2022-10-16 16:33:08  24.80       25.37        4.12           ES
2        3 2022-10-16 16:41:04  27.71       27.30        2.68           ES
3        4 2022-10-16 16:34:26  19.85       19.51        4.92           DE
4        5 2022-10-16 16:36:14  17.48       16.90        7.20           DE
5        6 2022-10-16 15:35:16  16.36       15.88        3.58           GB

In [7]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   city_id        6 non-null      int64
 1   forecast_time  6 non-null      datetime64[ns]
 2   temp           6 non-null      float64
 3   feels_like     6 non-null      float64
 4   wind_speed     6 non-null      float64
 5   country_code   6 non-null      object
dtypes: datetime64[ns](1), float64(3), int64(1), object(1)
memory usage: 416.0+ bytes

In [22]:
import sqlalchemy
import pymysql

In [23]:
schema="GansWeatherDB"
host="127.0.0.1"
user="root"
password="SALCEDO3289"
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [24]:
weather.dropna().to_sql('weather', if_exists='append', con=con, index=False)

In [12]:
weather.to_csv('weather.csv')

In [13]:
weather = pd.read_csv('weather.csv', index_col=[0])

In [15]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   city_id        6 non-null      int64
 1   forecast_time  6 non-null      object
 2   temp           6 non-null      float64
 3   feels_like     6 non-null      float64
 4   wind_speed     6 non-null      float64
 5   country_code   6 non-null      object
dtypes: float64(3), int64(1), object(2)
memory usage: 336.0+ bytes